h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: #2C2D31;

}

body{
    background-color: #2C2D31;
    font-family: Roboto, sans-serif;
}

figure{
    padding: 1rem;
    width: 75%;
    margin: 1rem 1rem 0;
}

figcaption{
    font-size: 2rem;
    color: white;
}

img{
    width: 15rem;
}

li{
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #3E4045;
    font-size: 2rem;
}
